.employee-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .form-group {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .add-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;

    .skill-field {
      display: flex;
      flex-direction: column;
    }
  }
}
